/*--------------------------------------------------------------
# Custom Styles for Seokar Theme
--------------------------------------------------------------*/
/* استایل‌های سفارشی */

.header {
    background-color: #f5f5f5;
    padding: 20px;
}

.footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
}
